<div class="layui-form" action="" lay-filter="form-search">
    <div class="layui-form-item">
        <label class="layui-form-label">是否推荐</label>
        <div class="layui-input-block">
            <input type="radio" name="recommend" value="1" title="是" checked>
            <input type="radio" name="recommend" value="0" title="否">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <div class="layui-footer">
                <button class="layui-btn" lay-submit="" lay-filter="form-search-submit">立即提交</button>
            </div>
        </div>
    </div>
</div>
