html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

body {
    background-color: #fff;
    font-family: å¾®è½¯é›…é»‘, microsoft yahei, arial;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 1.4rem
}

a, img {
    -webkit-touch-callout: none
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

input, textarea, select, button {
    outline: 0;
    vertical-align: middle;
    font-size: inherit;
    font-family: inherit
}

textarea {
    resize: none;
    overflow-y: auto
}

input[type=submit], input[type=reset], input[type=button], button {
    cursor: pointer;
    -webkit-appearance: none
}

hr {
    height: 0;
    border-width: 1px 0 0;
    border-style: solid;
    margin: 0;
    color: #ddd
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ul, ol, li {
    list-style: none;
    -webkit-padding-start: 0
}

dt, dd {
    padding: 0;
    margin: 0;
    list-style: none
}

@keyframes hover-color {
    from {
        border-color: silver
    }
    to {
        border-color: #3e97eb
    }
}

.magic-radio, .magic-checkbox {
    position: absolute;
    display: none
}

.magic-radio[disabled], .magic-checkbox[disabled] {
    cursor: not-allowed
}

.magic-radio + label, .magic-checkbox + label {
    position: relative;
    padding-left: 3rem;
    cursor: pointer;
    vertical-align: middle
}

.magic-radio + label:hover:before, .magic-checkbox + label:hover:before {
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: hover-color
}

.magic-radio + label:before, .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    content: '';
    border: 1px solid #3fb4ab
}

.magic-radio + label:after, .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''
}

.magic-radio[disabled] + label, .magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #e4e4e4
}

.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after, .magic-checkbox[disabled] + label:hover, .magic-checkbox[disabled] + label:before, .magic-checkbox[disabled] + label:after {
    cursor: not-allowed
}

.magic-radio[disabled] + label:hover:before, .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none
}

.magic-radio[disabled] + label:before, .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4
}

.magic-radio:checked + label:before, .magic-checkbox:checked + label:before {
    animation-name: none
}

.magic-radio:checked + label:after, .magic-checkbox:checked + label:after {
    display: block
}

.magic-radio + label:before {
    border-radius: 50%
}

.magic-radio + label:after {
    top: .5rem;
    left: .5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #3fb4ab
}

.magic-radio:checked + label:before {
    border: 1px solid #3e97eb
}

.magic-radio:checked[disabled] + label:before {
    border: 1px solid #c9e2f9
}

.magic-radio:checked[disabled] + label:after {
    background: #c9e2f9
}

.magic-checkbox + label:before {
    border-radius: 3px
}

.magic-checkbox + label:after {
    top: 2px;
    left: 7px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0
}

.magic-checkbox:checked + label:before {
    border: #3e97eb;
    background: #3e97eb
}

.magic-checkbox:checked[disabled] + label:before {
    border: #c9e2f9;
    background: #c9e2f9
}

.opt {
    display: inline-block;
    height: 30px;
    line-height: 24px
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left
}

.col-lg-12 {
    width: 100%
}

.col-lg-11 {
    width: 91.66666667%
}

.col-lg-10 {
    width: 83.33333333%
}

.col-lg-9 {
    width: 75%
}

.col-lg-8 {
    width: 66.66666667%
}

.col-lg-7 {
    width: 58.33333333%
}

.col-lg-6 {
    width: 50%
}

.col-lg-5 {
    width: 41.66666667%
}

.col-lg-4 {
    width: 33.33333333%
}

.col-lg-3 {
    width: 25%
}

.col-lg-2 {
    width: 16.66666667%
}

.col-lg-1 {
    width: 8.33333333%
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    float: left
}

.span12 {
    width: 100%
}

.span11 {
    width: 91.66666667%
}

.span10 {
    width: 83.33333333%
}

.span9 {
    width: 75%
}

.span8 {
    width: 66.66666667%
}

.span7 {
    width: 58.33333333%
}

.span6 {
    width: 50%
}

.span5 {
    width: 41.66666667%
}

.span4 {
    width: 33.33333333%
}

.span3 {
    width: 25%
}

.span2 {
    width: 16.66666667%
}

.span1 {
    width: 8.33333333%
}

@media screen and (max-width: 1300px) {
    .col-bg-4 {
        float: left;
        width: 33.33333333%
    }
}

@media screen and (max-width: 1199px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }
}

@media screen and (max-width: 960px) {
    .col-xm-1, .col-xm-2, .col-xm-3, .col-xm-4, .col-xm-5, .col-xm-6, .col-xm-7, .col-xm-8, .col-xm-9, .col-xm-10, .col-xm-11, .col-xm-12 {
        float: left
    }

    .col-xm-12 {
        width: 100%
    }

    .col-xm-11 {
        width: 91.66666667%
    }

    .col-xm-10 {
        width: 83.33333333%
    }

    .col-xm-9 {
        width: 75%
    }

    .col-xm-8 {
        width: 66.66666667%
    }

    .col-xm-7 {
        width: 58.33333333%
    }

    .col-xm-6 {
        width: 50%
    }

    .col-xm-5 {
        width: 41.66666667%
    }

    .col-xm-4 {
        width: 33.33333333%
    }

    .col-xm-3 {
        width: 25%
    }

    .col-xm-2 {
        width: 16.66666667%
    }

    .col-xm-1 {
        width: 8.33333333%
    }
}

@media screen and (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }
}

@media screen and (max-width: 479px) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left
    }

    .col-xs-12 {
        width: 100%
    }

    .col-xs-11 {
        width: 91.66666667%
    }

    .col-xs-10 {
        width: 83.33333333%
    }

    .col-xs-9 {
        width: 75%
    }

    .col-xs-8 {
        width: 66.66666667%
    }

    .col-xs-7 {
        width: 58.33333333%
    }

    .col-xs-6 {
        width: 50%
    }

    .col-xs-5 {
        width: 41.66666667%
    }

    .col-xs-4 {
        width: 33.33333333%
    }

    .col-xs-3 {
        width: 25%
    }

    .col-xs-2 {
        width: 16.66666667%
    }

    .col-xs-1 {
        width: 8.33333333%
    }
}

.hidden {
    visibility: hidden
}

.visible {
    visibility: visible
}

.hide {
    display: none
}

.show {
    display: block
}

.rt {
    float: right
}

.lt {
    float: left
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.container {
    margin: 0 auto;
    background-size: 100% 100%
}

@media (min-width: 1200px) {
    .container {
        width: 100%
    }
}

@media (max-width: 1200px) {
    .container {
        width: 100%
    }
}

@media (max-width: 1024px) {
    .container {
        width: 100%
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%
    }
}

.popup_layer, .mask {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    background: #000 \9;
    filter: Alpha(opacity=60);
    z-index: 9
}

.flex-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.box-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0
}

.index-mend-box {
    background-color: #fff;
    padding: .3rem 0
}

.index-mend-box > h1 {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    justify-content: space-between
}

.index-mend-box ul li .mend-box-a .mend-img-left {
    margin-right: 1rem;
    width: 8rem;
    height: 7rem;
    line-height: 7rem;
    text-align: center
}

.index-mend-box ul li .mend-box-a {
    padding: 0 1rem
}

.mend-text-right {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc
}

.index-mend-box ul li .mend-box-a .mend-img-left img {
    width: 8rem;
    height: 7rem
}

.index-mend-box ul li .mend-box-a .mend-text-right h1 {
    font-weight: 400;
    font-size: 1.6rem;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all
}

.xx-box {
    overflow: hidden;
    margin-top: .5rem
}

.xx-0, .xx-1, .xx-2, .xx-box span {
    font-size: 1.4rem;
    float: left;
    margin-right: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem
}

.xx-box span {
    width: initial
}

.xx-0 {
    background: url(../ico/xx-0.png) no-repeat center center;
    background-size: 100% 100%
}

.xx-1 {
    background: url(../ico/xx-1.png) no-repeat center center;
    background-size: 100% 100%
}

.xx-2 {
    background: url(../ico/xx-2.png) no-repeat center center;
    background-size: 100% 100%
}

.xx-box-text {
    overflow: hidden;
    margin-top: .5rem
}

.xx-box-text span, .xx-text-xq span {
    float: left;
    padding: 0 .5rem;
    font-weight: 800;
    color: #fff;
    background-color: #0bf;
    margin-right: .5rem;
    font-size: 1.2rem
}

.xx-box-text i {
    font-size: 1.2rem;
    color: #999
}

.xx-text-xq {
    padding-left: 10rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    max-height: 1000px;
    position: relative
}

.xx-text-xq dt {
    position: absolute;
    right: 1rem;
    top: 1rem
}

.xx-text-xq dd {
    padding-top: 1rem
}

.index-mend-box ul li:last-child .xx-text-xq {
    border: 0
}

.loading-boxs {
    display: none
}
