<title>会场信息</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>内容</cite></a>
        <a><cite>添加会场</cite></a>
    </div>
</div>

<div class="layui-form layui-fluid" lay-filter="form-news" id="form-news">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">会场基础信息</div>

                <div class="layui-card-body">

                    <div class="layui-form-item layui-col-md11">
                        <label class="layui-form-label">会场名称</label>
                        <div class="layui-input-block">
                            <script type="text/html" template>
                                <input type="text" name="name" lay-verify="required" lay-filter="name"
                                       autocomplete="off"
                                       placeholder="请输入会场名称" class="layui-input" value="{{ d.params.name || '' }}">
                            </script>
                        </div>
                    </div>
                    <div class="layui-form-item layui-col-md11">
                        <label class="layui-form-label">会场封面</label>
                        <div class="layui-input-block">
                            <script type="text/html" template lay-done="layui.data.doneUpload(d);">
                                <div class="layui-input-inline">
                                    <input name="thumb" lay-verify="required" id="thumb" placeholder="会场封面"
                                           value="{{ d.params.thumb || '' }}" class="layui-input">
                                </div>
                                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                    <button type="button" class="layui-btn layui-btn-primary LAY_Upload"
                                            lay-data="{type:'normal',pic:'qiniu_url','id':'thumb'}">
                                        <i class="layui-icon">&#xe67c;</i>上传图片
                                    </button>
                                    <button class="layui-btn layui-btn-primary" layadmin-event="Preview"
                                            data-id="thumb">查看图片
                                    </button>
                                </div>
                            </script>
                        </div>
                    </div>
                    <div class="layui-form-item layui-col-md11">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <script type="text/html" template>
                                <textarea name="description" placeholder="请输入描述" lay-filter="description"
                                          class="layui-textarea">{{ d.params.description || '' }}</textarea>
                            </script>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所在省市区</label>
                        <div class="layui-input-inline">
                            <script type="text/html" template>
                                <select name="province_id" lay-filter="province_id" lay-verify="required"
                                        data-value="{{ d.params.province_id}}"
                                        lay-search="true"
                                        id="province_id">
                                </select>
                            </script>
                        </div>
                        <div class="layui-input-inline">
                            <script type="text/html" template>
                                <select name="city_id" lay-filter="city_id" lay-verify="required"
                                        data-value="{{ d.params.city_id}}"
                                        lay-search="true"
                                        id="city_id">
                                </select>
                            </script>
                        </div>
                        <div class="layui-input-inline">
                            <script type="text/html" template>
                                <select name="district_id" lay-filter="district_id" lay-verify="required"
                                        data-value="{{ d.params.district_id}}"
                                        lay-search="true"
                                        id="district_id">
                                </select>
                            </script>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-inline">
                            <script type="text/html" template>
                                <input type="text" name="address"
                                       value="{{ d.params.address || '' }}"
                                       placeholder="请输入" autocomplete="off" lay-verify="required"
                                       class="layui-input"
                                       style="width:400px;">
                            </script>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-inline">
                            <script type="text/html" template>
                                <input type="text" name="tel" value="{{ d.params.tel || '' }}"
                                       placeholder="请输入电话" autocomplete="off" class="layui-input"
                                       style="width:400px;">
                            </script>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">是否酒店</label>
                            <div class="layui-input-inline">
                                <script type="text/html" template>
                                    <input type="checkbox" name="type" value="{{ d.params.type || 1 }}" {{#
                                           if(d.params.type== 1) { }}
                                           checked{{# } }} id="type"
                                           lay-skin="switch" lay-filter="type"
                                           lay-text="是|否">
                                </script>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">会场星级</label>
                            <div class="layui-input-inline">
                                <script type="text/html" template>
                                    <select name="stars" lay-filter="stars" lay-verify="required"
                                            data-value="{{ d.params.stars}}"
                                            lay-search="true"
                                            id="stars">
                                    </select>
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">市场价</label>
                            <div class="layui-input-inline">
                                <script type="text/html" template>
                                    <input type="text" name="market_price"
                                           value="{{ d.params.market_price || 0 }}"
                                           placeholder="请输入市场价" autocomplete="off" class="layui-input">
                                </script>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">优惠价</label>
                            <div class="layui-input-inline">
                                <script type="text/html" template>
                                    <input type="text" name="price"
                                           value="{{ d.params.price || 0 }}"
                                           placeholder="请输入优惠价" autocomplete="off" class="layui-input">
                                </script>
                            </div>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">会场人数</label>
                            <div class="layui-input-inline">
                                <script type="text/html" template>
                                    <input type="text" name="limit_people"
                                           value="{{ d.params.limit_people || 0 }}"
                                           placeholder="请输入会场最多能容纳的人数" autocomplete="off" class="layui-input">
                                </script>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">面积</label>
                            <div class="layui-input-inline">
                                <script type="text/html" template>
                                    <input type="text" name="area"
                                           value="{{ d.params.area || 0 }}"
                                           placeholder="请填写面积（不需要填写单位，纯数字）" autocomplete="off" class="layui-input">
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">是否有柱子</label>
                            <div class="layui-input-inline">
                                <script type="text/html" template>
                                    <input type="checkbox" name="has_pillar" value="{{ d.params.has_pillar || 1 }}" {{#
                                           if(d.params.has_pillar== 1) { }}
                                           checked{{# } }} id="has_pillar"
                                           lay-skin="switch" lay-filter="has_pillar"
                                           lay-text="有|无">
                                </script>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">屏幕类型</label>
                            <div class="layui-input-inline">
                                <script type="text/html" template>
                                    <select name="screen_type" lay-filter="screen_type" lay-verify="required"
                                            data-value="{{ d.params.screen_type}}"
                                            lay-search="true"
                                            id="screen_type">
                                    </select>
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">排序值</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="text" name="listorder" lay-verify="number" lay-filter="listorder"
                                           placeholder="请输入数字，值越小越靠前" class="layui-input"
                                           value="{{ d.params.listorder || '99' }}">
                                </script>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否置顶</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="checkbox" name="sort" value="{{ d.params.sort || 1 }}" {{#
                                           if(d.params.sort== 1) { }}
                                           checked{{# } }} id="sort"
                                           lay-skin="switch" lay-filter="sort"
                                           lay-text="是|否">
                                </script>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否启用</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="checkbox" name="status" value="{{ d.params.status || 1 }}" {{#
                                           if(d.params.status== 1) { }}
                                           checked{{# } }} id="status"
                                           lay-skin="switch" lay-filter="status"
                                           lay-text="是|否">
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">其他说明</label>
                        <div class="layui-input-block">
                            <script type="text/html" template>
                                <textarea name="content" id="content" cols="30" rows="10"
                                          class="layui-textarea"></textarea>
                            </script>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <div class="layui-footer">
                <button class="layui-btn" lay-submit="" lay-filter="form-news-submit">立即提交</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    layui.use(['admin', 'form', 'layer', 'layedit'], function () {

        var $ = layui.$
            , admin = layui.admin
            , layer = layui.layer
            , form = layui.form
            , layedit = layui.layedit
            , router = layui.router();

        var classify_id;

        var loadDistrictOptions = function (city_id, district_id) {
            admin.req({
                url: '../api/hotel/district',
                data: {city_id: city_id},
                type: 'post',
                done: function (res) {
                    var html = '<option value="">请选择区域</option>';
                    $.each(res.data, function (index, item) {
                        if (item.district_id == district_id) {
                            var selected = 'selected';
                        } else {
                            var selected = ''
                        }
                        html += '<option value="' + item.district_id + '"  ' + selected + '>' + item.district_name + '</option>';
                    });
                    $('#district_id').html(html);
                    form.render();
                }, error: function () {
                    alert('查询失败！！！')
                }
            });
        }

        var loadScreenTypes = function (screen_type) {
            admin.req({
                url: '../api/hotel/screens',
                type: 'post',
                done: function (res) {
                    var html = '<option value="">请选择屏幕类型</option>';
                    $.each(res.data, function (index, item) {
                        if (index == screen_type) {
                            var selected = 'selected';
                        } else {
                            var selected = ''
                        }
                        html += '<option value="' + index + '"  ' + selected + '>' + item + '</option>';
                    });
                    $('#screen_type').html(html);
                    form.render();
                }, error: function () {
                    alert('查询失败！！！')
                }
            })
        };

        var loadStars = function (stars) {
            admin.req({
                url: '../api/hotel/stars',
                type: 'post',
                done: function (res) {
                    var html = '<option value="">请选择星级</option>';
                    $.each(res.data, function (index, item) {
                        if (index == stars) {
                            var selected = 'selected';
                        } else {
                            var selected = ''
                        }
                        html += '<option value="' + index + '"  ' + selected + '>' + item + '</option>';
                    });
                    $('#stars').html(html);
                    form.render();
                }, error: function () {
                    alert('查询失败！！！')
                }
            })
        };

        var loadCityOptions = function (province_id, city_id) {
            admin.req({
                url: '../api/hotel/city',
                data: {province_id: province_id},
                type: 'post',
                done: function (res) {
                    var html = '<option value="">请选择城市</option>';
                    $.each(res.data, function (index, item) {
                        if (item.city_id == city_id) {
                            var selected = 'selected';
                        } else {
                            var selected = ''
                        }
                        html += '<option value="' + item.city_id + '"  ' + selected + '>' + item.city_name + '</option>';
                    });
                    $('#city_id').html(html);
                    form.render();
                }, error: function () {
                    alert('查询城市失败！！！')
                }
            })
        };

        var loadProvinceOptions = function (province_id, city_id) {
            admin.req({
                url: '../api/hotel/province',
                type: 'post',
                done: function (res) {
                    var html = '<option value="">请选择省份</option>';
                    $.each(res.data, function (index, item) {
                        if (item.province_id == province_id) {
                            var selected = 'selected';
                        } else {
                            var selected = ''
                        }
                        html += '<option value="' + item.province_id + '"  ' + selected + '>' + item.province_name + '</option>';
                    });
                    $('#province_id').html(html);

                    loadCityOptions(province_id, city_id);
                    form.render();
                }, error: function () {
                    alert('查询省份失败！！！')
                }
            });
        }


        form.on('select(province_id)', function (data) {
            var province_id = data.value;
            loadCityOptions(province_id);
        });

        form.on('select(city_id)', function (data) {
            var city_id = data.value;
            loadDistrictOptions(city_id);
        });

        if (router.search.id) {
            admin.req({
                url: '../api/hotel/info',
                data: {
                    id: router.search.id
                }
                , done: function (res) {
                    if (res.code === 0) {
                        form.val('form-news', res.data);
                        layui.data.doneEdit(res.data.content);
                        loadProvinceOptions(res.data.province_id, res.data.city_id);
                        loadDistrictOptions(res.data.city_id,res.data.district_id);
                        loadScreenTypes(res.data.screen_type);
                        loadStars(res.data.stars);
                        form.render()
                        classify_id = res.data.classify_id;
                    }
                }
            });
        } else {
            loadProvinceOptions();
            loadScreenTypes();
            loadStars();
            layui.data.doneEdit();
            form.render()
        }


        //监听提交
        form.on('submit(form-news-submit)', function (formData) {
            formData.field['id'] = router.search.id ? router.search.id : 0;
            admin.req({
                url: '../api/hotel/add'
                , data: formData.field
                , async: false
                , type: 'post'
                , done: function (res) {
                    if (res.status == 0) {
                          location.hash = '/hotel/lists';
                        layer.msg(res.msg, {icon: 1, time: 1000})
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 1000})
                    }
                }
            })
        });
        form.on('switch(sort)', function (data) {
            layer.tips('温馨提示：是表示置顶，否表示不置顶', data.othis)
        });
        form.on('switch(status)', function (data) {
            layer.tips('温馨提示：是表示启用，否表示禁用', data.othis)
        });

    });
    layui.data.doneUpload = function (d) {
        layui.use('uploadCfg', layui.factory('uploadCfg'));
    };
    layui.data.doneEdit = function (data) {
        layui.use(['form', 'layedit'], function () {
            var $ = layui.jquery
                , layer = layui.layer
                , form = layui.form
                , layedit = layui.layedit;
            $('#content').val(data);
            layedit.set({
                uploadImage: {
                    url: '../api/upload/image-save?token=' + layui.data('layuiAdmin').token,
                    accept: 'image',
                    acceptMime: 'image/*',
                    exts: 'jpg|png|gif|bmp|jpeg',
                    size: 1024 * 10,
                    done: function (data) {

                    }
                }
                , autoSync: true
                , devmode: true
                , tool: [
                    'redo', 'strong', 'italic', 'underline', 'del', 'addhr', '|', 'fontFomatt', 'fontfamily', 'fontSize', 'fontBackColor', 'colorpicker', 'face'
                    , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'images', 'image_alt', 'anchors'
                    , '|'
                    , 'table'
                ]
                , height: '400px'
            });

            function editor() {
                var ind = layedit.build('content')
            }

            setTimeout(editor(), 3000);
        });
    };
</script>
