<title>轮播图管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>小程序设置</cite></a>
        <a><cite>轮播图设置</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">全部信息</div>
                <div class="layui-card-body">
                    <div class="layui-btn-group news-table-operate-btn pull-right">
                        <button class="layui-btn" data-type="add">添加轮播图</button>
                    </div>
                    <div class="order-table-reload-btn" style="margin-bottom: 45px;">
                    </div>
                    <table class="layui-hide" id="focus-table" lay-filter="focus-table"></table>

                    <script type="text/html" id="imgTpl">
                        <img style="display: inline-block; width: 100%; height:100%;" src={{ d.thumb }}>
                    </script>

                    <script type="text/html" id="focus-table-toolbar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="setStatusData">
                                <i class="layui-icon layui-icon-ok-circle"></i>启用
                            </button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="cancelStatusData">
                                <i class="layui-icon layui-icon-close-fill"></i>禁用
                            </button>
                        </div>
                    </script>

                    <script type="text/html" id="focus-table-bar">
                        <div class="layui-btn-group">
                            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'table', 'form'], function () {
        var admin = layui.admin
            , table = layui.table
            , view = layui.view, form = layui.form;

        table.render({
            elem: '#focus-table'
            , url: '../api/focus/lists?token=' + layui.data('layuiAdmin').token
            , toolbar: '#focus-table-toolbar'
            , title: '信息表'
            , height: 'full-250'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {
                    field: 'id',
                    title: 'ID',
                    width: 70,
                    fixed: 'left',
                    align: 'center',
                    unresize: true,
                    sort: true
                }
                , {field: 'listorder', title: '排序', align: 'center', width: 70}
                , {field: 'type_name', title: '类别', align: 'center', width: 100}
                , {
                    field: 'thumb',
                    title: '图标',
                    width: 60,
                    align: 'center',
                    templet: '<div><image src="{{d.thumb}}" width="28px" height="28px"></div>'
                }
                , {field: 'name', title: '导航名称', align: 'left'}
                , {field: 'url', title: '跳转地址', align: 'center'}
                , {field: 'status', title: '状态', align: 'center', width: 60}
                , {fixed: 'right', title: '操作', toolbar: '#focus-table-bar', align: 'center', width: 100}
            ]]
            , page: true
            , done: function (res) {
                if (res.code == layui.setter.response.statusCode.logout) {
                    layer.alert(res.msg, function (index) {
                        layer.close(index);
                        view.exit();
                    });
                }
            }
        });

        //头工具栏事件
        table.on('toolbar(focus-table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'setStatusData':
                    var data = checkStatus.data;
                    if (data != '') {
                        admin.req({
                            url: '../api/focus/lists/status'
                            , data: {data: data}
                            , type: 'post'
                            , done: function (res) {
                                if (res.code == 0) {
                                    layer.alert(res.msg, {icon: 1, time: 1000});
                                    table.reload('focus-table', {
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                    });
                                }
                            }
                        });
                    } else {
                        layer.alert('请至少选择一条数据');
                    }
                    break;
                case 'cancelStatusData':
                    var data = checkStatus.data;
                    if (data != '') {
                        admin.req({
                            url: '../api/focus/lists/cancel/status'
                            , data: {data: data}
                            , type: 'post'
                            , done: function (res) {
                                if (res.code == 0) {
                                    layer.alert(res.msg, {icon: 1, time: 1000});
                                    table.reload('focus-table', {
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                    });
                                }
                            }
                        });
                    } else {
                        layer.alert('请至少选择一条数据');
                    }
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(focus-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    admin.req({
                        url: '../api/focus/delete?token=' + layui.data('layuiAdmin').token,
                        type: "post",
                        data: {id: data.id},
                        async: false,
                        done: function (res) {
                            if (res.status == 0) {
                                obj.del();
                                layer.close(index);
                                layer.msg(res.msg, {icon: 1, time: 1000})
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 3000})
                            }
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                admin.popup({
                    title: '编辑轮播图'
                    , area: ['40%', '50%']
                    , id: 'LAY-popup-focus-edit'
                    , success: function (layero, index) {
                        view(this.id).render('system/focus-add', data).done(function () {
                            //选择图片类别
                            admin.req({
                                url: '../api/focus/type',
                                done: function (res) {
                                    var html = '<option value="">请选择图片类别</option>';
                                    $.each(res.data, function (index, item) {
                                        if (index == data.type) {
                                            var selected = 'selected';
                                        } else {
                                            var selected = '';
                                        }
                                        html += '<option value="' + index + '"  ' + selected + '>' + item + '</option>';
                                    });
                                    $('#type_select').html(html);
                                    form.render('select');
                                }, error: function () {
                                    alert('查询图片失败！！！')
                                }
                            });
                            form.render(null, 'form-focus');
                            //监听提交
                            form.on('submit(form-focus-submit)', function (formData) {
                                formData.field['id'] = data.id;
                                admin.req({
                                    url: '../api/focus/add'
                                    , data: formData.field
                                    , async: false
                                    , type: 'post'
                                    , done: function (res) {
                                        if (res.code == 0) {
                                            parent.layer.closeAll();
                                            parent.layui.table.reload('focus-table');
                                            layer.msg(res.msg, {icon: 1, time: 1000})
                                        } else if (res.code == 1) {
                                            layer.msg(res.msg, {icon: 2, time: 3000})
                                        }
                                    }
                                })
                            });

                        });
                    }
                });
            } else if (obj.event === 'info') {
                //  location.hash = '/focus/info/order_no='+data.order_no;
            }
        });

        var $ = layui.$, active = {
            search: function () {
                //执行重载
                table.reload('focus-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {
                            id: $('#focus-search-name').val()
                        }
                    }
                });
            }
        };
        var active = {
            add: function () { //获取选中数据
                admin.popup({
                    title: '添加轮播图'
                    , area: ['40%', '50%']
                    , id: 'LAY-popup-focus-add'
                    , success: function (layero, index) {
                        view(this.id).render('system/focus-add').done(function () {
                            admin.req({
                                url: '../api/focus/type',
                                type: 'post',
                                done: function (res) {
                                    var html = '<option value="">请选择图片类别</option>';
                                    $.each(res.data, function (index, item) {
                                        html += '<option value="' + index + '" >' + item + '</option>';
                                    });
                                    $('#type_select').html(html);
                                    form.render('select');
                                }, error: function () {
                                    alert('查询失败！！！')
                                }
                            });
                            form.render(null, 'form-focus');

                            //监听提交
                            form.on('submit(form-focus-submit)', function (formData) {
                                formData.field['id'] = 0;
                                admin.req({
                                    url: '../api/focus/add'
                                    , data: formData.field
                                    , async: false
                                    , type: 'post'
                                    , done: function (res) {
                                        parent.layer.msg(res.msg, {
                                            offset: '15px'
                                            , icon: res.code == 0 ? 1 : 2
                                            , time: 1000
                                        });

                                        if (res.code == 0) {
                                            parent.layer.closeAll();
                                            parent.layui.table.reload('focus-table');
                                            layer.msg('添加成功！', {icon: 1, time: 1000})
                                        } else {
                                            layer.msg('添加失败！', {icon: 2, time: 1000})
                                        }
                                    }
                                })
                            });

                        });
                    }
                });
            }
        };
        $('.layui-card-body .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>
